/* Calendar custom styles */

.rbc-calendar {
  background-color: #f1f1f2;
  border-radius: 4px;
  padding: 20px;
}

.rbc-toolbar {
  padding-bottom: 10px;
  font-size: 1.5em;
}

.rbc-header {
  font-size: 1.2em;
  font-weight: 200;
}

.rbc-today {
  background-color: #a1d6e2;
}

.rbc-time-view .rbc-time-header .rbc-row .rbc-header-gutter {
  opacity: 0;
}

.rbc-time-view .rbc-time-header .rbc-row:nth-child(1) {
  border-bottom: none;
}

.rbc-time-view .rbc-time-header .rbc-row:nth-child(2) {
  display: none;
}

.rbc-current-time-indicator::before {
  background-color: #1d616c;
}

.rbc-current-time-indicator {
  background-color: #1d616c;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
}

@media (max-height: 400px) {
  .rbc-month-view {
    min-height: 400px;
  }
  .rbc-toolbar {
    width: 400px;
  }
}

@media (max-height: 799px) {
  .rbc-month-view {
    min-height: 500px;
  }
}

@media (min-height: 800px) {
  .rbc-month-view {
    min-height: 700px;
  }
}
