/* General styles */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-header {
  background-color: #222;
  margin: 0;
  padding: 10px 0;
  border-bottom: 2px solid #4692a9;
}

.app-header h2 {
  font-family: 'Open Sans';
  font-size: 2.25em;
  color: #4692a9;
  text-align: center;
}

.app-body {
  background: #bcbabe;
  padding: 50px;
  font-family: 'Source Sans Pro';
}

footer {
  background-color: #222;
}

footer h2 {
  font-family: 'Open Sans';
  font-size: 1.25em;
  color: #fff;
  padding: 10px;
  margin: 0;
}
